@charset "UTF-8";
body {
  background-color: white;
  font-family: "Spartan";
  width: 100%;
  margin: 0 auto;
  padding: 0;
  color: #a1a1a1;
  position: relative;
}
body h2 {
  color: black;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 4px;
}
body h3 {
  color: black;
  text-transform: uppercase;
  letter-spacing: 4px;
}
body a {
  color: inherit;
  text-decoration: none;
}
body article {
  width: 100%;
  display: grid;
  padding: 0;
}
body article .img1Article {
  grid-column: 1;
}
body article .img1Article img {
  width: 100%;
}
body article .detailArticle {
  padding: 20px 20px 0 20px;
  text-align: left;
  grid-column: 2/span 2;
}
body article .img2Article {
  grid-column: 4;
}
body article .img2Article img {
  padding: 0;
  width: 100%;
}
body .ContainerGrid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 30% 14% 13% 10% 33%;
  grid-template-rows: 59% 7% 33%;
  position: absolute;
  top: 0;
  z-index: -1;
}
body .ContainerGrid .itemGridImgSlide {
  grid-column: 1/span 3;
  grid-row: 1/span 2;
}
body .ContainerGrid .itemGridTextSlide {
  grid-column: 4/span 2;
  grid-row: 1/span 2;
}
body .ContainerGrid .itemGridTextSlide .textSlide {
  padding: 80px 80px 0 80px;
}
body .ContainerGrid .itemGridTextSlide .textSlide .link a {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #a1a1a1;
}
body .ContainerGrid .itemGridTextSlide .textSlide .link a p {
  padding-right: 20px;
  letter-spacing: 10px;
}
body .ContainerGrid .itemGridTextSlide .textSlide .link a svg {
  color: #a1a1a1;
}
body .ContainerGrid .itemGridArrowSlide {
  grid-column: 4/span 1;
  grid-row: 2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
body .ContainerGrid .itemGridArrowSlide .arrow {
  position: relative;
  background-color: black;
  width: 50%;
  height: 100%;
}
body .ContainerGrid .itemGridArrowSlide .arrow svg {
  position: absolute;
  top: 30%;
  right: 40%;
}
body .ContainerGrid .itemGridImg1Article {
  grid-column: 1;
  grid-row: 3;
}
body .ContainerGrid .itemGridTextArticle {
  grid-column: 2/span 3;
  grid-row: 3;
}
body .ContainerGrid .itemGridTextArticle .textArticle {
  padding: 8% 10% 0 10%;
}
body .ContainerGrid .itemGridImg2Article {
  grid-column: 5;
  grid-row: 3;
}

@font-face {
  font-family: "Spartan";
  src: url("../font/Spartan-VariableFont_wght.ttf");
}
body nav {
  display: flex;
  flex-direction: row;
  padding: 60px 0 0 60px;
  color: white;
  z-index: 0;
}
body nav .logo {
  vertical-align: middle;
}
body nav .logo img {
  height: 1rem;
}
body nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-evenly;
  text-align: center;
  margin: 0;
}
body nav ul li {
  margin-right: 20px;
}
body nav ul li a {
  text-decoration: none;
}
body nav ul li :hover {
  border-bottom: 1px solid white;
}

body {
  position: relative;
}
body .container {
  position: absolute;
  top: 0;
  z-index: -1;
  display: flex;
  flex-direction: row;
}
body form {
  padding: 30px;
  background-color: white;
  border-radius: 10px;
}
body form .corps-formulaire {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
body form .corps-formulaire .groupe {
  position: relative;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
body form .corps-formulaire .gauche .groupe input {
  margin-top: 5px;
  padding: 10px 5px 10px 30px;
  border: 1px solid #c9c9c9;
  outline-color: #a1a1a1;
  border-radius: 5px;
}
body form .corps-formulaire .gauche .groupe i {
  position: absolute;
  /* positionné par rapport à son parent le plus proche positionné */
  left: 0;
  top: 25px;
  padding: 9px 8px;
  color: #454545;
}
body form .corps-formulaire .droite {
  margin-left: 40px;
}
body form .corps-formulaire .droite .groupe {
  height: 100%;
}
body form .corps-formulaire .droite .groupe textarea {
  margin-top: 5px;
  padding: 10px;
  background-color: #f1f1f1;
  border: 2px solid #a1a1a1;
  outline: none;
  border-radius: 5px;
  resize: none;
  height: 72%;
}
body form .pied-formulaire button {
  margin-top: 10px;
  background-color: #a1a1a1;
  color: white;
  font-size: 15px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: transform 0.5s;
}
body form .pied-formulaire button:hover {
  transform: scale(1.05);
}

body {
  position: relative;
}
body .containerAbout {
  position: absolute;
  top: 0;
  z-index: -1;
}
body .containerVideo {
  text-align: center;
  padding-top: 25vh;
}

@media screen and (max-width: 380px) {
  body {
    background-color: aqua;
    width: 100%;
  }
  body h2 {
    font-size: 17px;
  }
  body h3 {
    font-size: 12px;
  }
  body .ContainerGrid {
    display: inherit;
  }
  body .ContainerGrid .itemGridTextSlide .textSlide {
    padding: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
