@charset "UTF-8";
body {
  background-color: white;
  font-family: "Spartan";
  width: 100%;
  margin: 0 auto;
  padding: 0;
  color: #a1a1a1;
  position: relative;
}
body h2 {
  color: black;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 4px;
}
body h3 {
  color: black;
  text-transform: uppercase;
  letter-spacing: 4px;
}
body a {
  color: inherit;
  text-decoration: none;
}
body .container2 {
  position: absolute;
  top: 0;
  z-index: -1;
}
body .container2 .gridContainer {
  display: grid;
  width: 100%;
  grid-template-areas: "imgSlider imgSlider textSlider textSlider" "img1Article  text2Article text2Article img2Article";
  grid-template-rows: 70% 30%;
  grid-template-columns: 30% 30% 10% 30%;
}
body .container2 .gridContainer .slider {
  grid-area: imgSlider;
}
body .container2 .gridContainer .slider img {
  width: 100%;
  height: 100%;
}
body .container2 .gridContainer .textSlider2 {
  grid-area: textSlider;
  position: relative;
}
body .container2 .gridContainer .textSlider2 .text2 {
  padding: 80px 80px 0 80px;
}
body .container2 .gridContainer .textSlider2 .text2 .link a {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #a1a1a1;
}
body .container2 .gridContainer .textSlider2 .text2 .link a p {
  padding-right: 20px;
  letter-spacing: 10px;
}
body .container2 .gridContainer .textSlider2 .text2 .link a svg {
  color: #a1a1a1;
}
body .container2 .gridContainer .textSlider2 .arrow2 {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  width: 25%;
}
body .container2 .gridContainer .textSlider2 .arrow2 .arrow {
  background-color: black;
  width: 100px;
  height: 50px;
  text-align: center;
  cursor: pointer;
}
body .container2 .gridContainer .textSlider2 .arrow2 .arrow .arrowBtn {
  padding-top: 10px;
}
body .container2 .gridContainer .img1Article2 {
  grid-area: img1Article;
}
body .container2 .gridContainer .img1Article2 img {
  width: 100%;
  height: 100%;
}
body .container2 .gridContainer .text2Article2 {
  grid-area: text2Article;
  padding: 8% 10% 0 10%;
}
body .container2 .gridContainer .img2Article2 {
  grid-area: img2Article;
}
body .container2 .gridContainer .img2Article2 img {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "Spartan";
  src: url("../font/Spartan-VariableFont_wght.ttf");
}
.nav {
  height: 50px;
  position: relative;
  padding: 60px 0 0 60px;
  color: #fff;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  padding: 10px 10px 10px 10px;
  vertical-align: middle;
  margin-right: 20px;
}
.nav > .nav-header > .nav-title img {
  height: 1rem;
}

.navDesk .nav .nav-links .nav-btn {
  display: none;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
}

.nav > .nav-links > a {
  display: inline-block;
  padding-top: 40px;
  text-decoration: none;
  color: #efefef;
  margin: 0px 30px 0 20px;
}

.nav > .nav-links > a:hover {
  border-bottom: 2px solid white;
}

.nav > #nav-check {
  display: none;
}

body {
  position: relative;
}
body .container {
  position: absolute;
  top: 0;
  z-index: -1;
  display: flex;
  flex-direction: row;
}
body form {
  padding: 30px;
  background-color: white;
  border-radius: 10px;
}
body form .corps-formulaire {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
body form .corps-formulaire .groupe {
  position: relative;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
body form .corps-formulaire .gauche .groupe input {
  margin-top: 5px;
  padding: 10px 5px 10px 30px;
  border: 1px solid #c9c9c9;
  outline-color: #a1a1a1;
  border-radius: 5px;
}
body form .corps-formulaire .gauche .groupe i {
  position: absolute;
  /* positionné par rapport à son parent le plus proche positionné */
  left: 0;
  top: 25px;
  padding: 9px 8px;
  color: #454545;
}
body form .corps-formulaire .droite {
  margin-left: 40px;
}
body form .corps-formulaire .droite .groupe {
  height: 100%;
}
body form .corps-formulaire .droite .groupe textarea {
  margin-top: 5px;
  padding: 10px;
  background-color: #f1f1f1;
  border: 2px solid #a1a1a1;
  outline: none;
  border-radius: 5px;
  resize: none;
  height: 72%;
}
body form .pied-formulaire button {
  margin-top: 10px;
  background-color: #a1a1a1;
  color: white;
  font-size: 15px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: transform 0.5s;
}
body form .pied-formulaire button:hover {
  transform: scale(1.05);
}

body .slider img {
  display: none;
}
body .slider img.active {
  display: block;
  animation: fade 0.8s;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  position: relative;
}
body .containerAbout {
  position: absolute;
  top: 0;
  z-index: -1;
}
body .containerVideo {
  text-align: center;
  padding-top: 25vh;
}

@media screen and (max-width: 380px) {
  body {
    width: 100%;
  }
  body h2 {
    font-size: 17px;
  }
  body h3 {
    font-size: 12px;
  }
  body p {
    font-size: 12px;
  }
  body .container2 .grid-container {
    display: inherit;
  }
  body .container2 .gridContainer .textSlider2 .text2 {
    padding: 30px 30px 40px 30px;
  }
  body .container2 .gridContainer .textSlider2 .arrow2 {
    top: -50px;
    right: 0;
    left: auto;
  }
  body .nav {
    text-align: center;
    padding: 20px 0 0 0;
  }
  body .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    left: 15px;
    top: 20px;
  }
  body .nav > .nav-links > .nav-btn {
    display: inline-block;
    position: absolute;
    left: 45px;
    top: 40px;
  }
  body a.firstLink {
    padding-left: 80px;
  }
  body .nav .nav-links .nav-check {
    display: inline-block;
    position: absolute;
    color: #a1a1a1;
    left: 15px;
    top: 20px;
  }
  body .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  body .nav > .nav-btn > label:hover, body .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  body .nav > .nav-links {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: white;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 0px;
    right: 0px;
  }
  body .nav > .nav-links > a {
    width: 100%;
    color: black;
    font-size: 10px;
    font-weight: bold;
    margin: inherit;
    margin: 0px 30px 0 0;
  }
  body .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  body .nav > #nav-check:checked ~ .nav-links {
    height: calc(22vh - 50px);
    overflow-y: auto;
  }
  body .container2 .gridContainer {
    display: inherit;
  }
}

/*# sourceMappingURL=style.css.map */
