body{
    position: relative;
    .containerAbout{
        position: absolute;
        top: 0;
        z-index: -1;
    }
    .containerVideo{
        text-align: center;
        padding-top: 25vh;

    }
}