body{
    background-color: hsl(0, 0%, 100%);
    font-family: 'Spartan';
    width: 100%;
    margin: 0 auto;
    padding: 0;
    color: hsl(0, 0%, 63%);
    position: relative;
    h2{
        color: black;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 4px;
        }
    h3{
        color: black;
        text-transform: uppercase;
        letter-spacing: 4px;
    }
    a{
        color: inherit;
        text-decoration: none;
    }
    article{
        width: 100%;
        display: grid;
        padding: 0;
        .img1Article{
            grid-column: 1;
            img{
                width: 100%;
            }
        }
        .detailArticle{
            padding: 20px 20px 0 20px;
            text-align: left;
            grid-column: 2 / span 2;
        }
        .img2Article{
            grid-column: 4;
            img{
                padding: 0;
                width: 100%;
            }
        }
    }

    .ContainerGrid{
        margin: 0 auto;
        display: grid;
        grid-template-columns: 30% 14% 13% 10% 33%;
        grid-template-rows: 59% 7% 33%;
        position: absolute;
        top: 0;
        z-index: -1;
        .itemGridImgSlide{
            grid-column: 1 / span 3;
            grid-row: 1 / span 2;

        }
        .itemGridTextSlide{
            grid-column: 4 / span 2;
            grid-row: 1 / span 2;
            .textSlide{
                padding: 80px 80px 0 80px;
                .link{
                  a{
                    display: flex;
                    align-items: center;
                    text-transform: uppercase;
                    color: hsl(0, 0%, 63%);
                    p{
                      padding-right: 20px;
                      letter-spacing: 10px;
                    }
                    svg{
                        color: hsl(0, 0%, 63%);
                    }
                  }
    
                }
              }
        }
        .itemGridArrowSlide{
            grid-column: 4 / span 1;
            grid-row: 2;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
                .arrow{
                    position: relative;
                    background-color: black;
                    width: 50%;
                    height: 100%;
                    svg{
                        position: absolute;
                        top: 30%;
                        right: 40%;
                    }
                }

        }
        .itemGridImg1Article{
            grid-column: 1;
            grid-row: 3;
        }
        .itemGridTextArticle{
            grid-column: 2 / span 3;
            grid-row: 3;
            .textArticle{
                padding: 8% 10% 0 10%;
            }
        }  
        .itemGridImg2Article{
            grid-column: 5;
            grid-row: 3;
        }      
    }





}