body{
    background-color: white;
    font-family: 'Spartan';
    margin: 0;
    article{
        display: flex;
        flex-direction: row;
            .detailArticle{
                padding: 15px;
                text-align: left;
            }
    }

}